<div appHighlight> This is the custom directive example. Hover over it to see the effect.</div>
<div>
  {{myData}} &nbsp; {{ value | basicPipe}}</div>
<button (click)="changeValue()">
Click me
</button>
&nbsp; 
  <a routerLink="/feature/lazyy">Navigate to Lazy comp1</a>  &nbsp; <a routerLink="/feature/lazzyAgain">Navigate to lazy comp2</a>
<nav>
  <div class="flexBox">
      <h2>View Encapsulation</h2>
<a href="/emuted">Emuted</a>
 <a href="/shadowDom">Shadow DOM</a>
  <a href="/none">None</a>
<hr>
  </div>
  <div>
    <h2>Other components</h2>
    <a href="/httpReqs">Http Requests example</a>
    <a href="/viewChildEX">ViewChild Decorator</a>
    <a href="ifFor">IF FOR SWITCH</a>
    <a href="form">Reactive Form</a>
    <a href="tempForm">Template driven forms</a>
  </div>

</nav>

<router-outlet></router-outlet>